.rokka-gallery {
    @import '@/scss/reset.scss';

    /* BASE STYLES */
    &-base {
        &--space-between {
            display: flex;
            justify-content: space-between;
        }
        &--inline-icon {
            display: inline;
            margin-right: 4px;
            margin-left: 4px;
        }
        &--no-line-break {
            white-space: nowrap;
        }
    }
    /* AUTOMATIC CONTAINER SIZING (FOR OVERLAY) */
    &-flex {
        &--autosize-parent {
            display: flex;
            width: 100%;
            height: 100%;
        }
        &--autosize-vertical-parent {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        &--autosize {
            flex: 1 1 auto;
        }
    }
}
